.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 60px;
  width: 30%;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.menu-items {
  color: #64748b;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: medium;
  margin-left: 10px;
  margin-right: 10px;
  font-style: none;
  align-items: center;
}

.button {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto';
  background-color: #0967d2;
  border-radius: 0px;
  width: 100px;
  font-size: 10px;
  border-width: 0px;
  outline: none;
  margin-left: 10px;
}
